@charset "UTF-8";
.navbar fixed-top navbar-light bg-light{
    position: absolute;
    left: 50%;
    display: block;
    text-align: center;
    background-color: transparent;
    
}navbar fixed-top navbar-light bg-light navbar-brand-centered h3{margin:0;margin-left: -30px;margin-top:-2px}
    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }